.git
.github
.turbo
.vercel
node_modules
**/node_modules
.env
.env.*
**/.env
**/.env.*
coverage
**/coverage
apps/web/.next
apps/web/out
apps/web/test-results
apps/web/playwright-report
apps/web/tsconfig.tsbuildinfo
build
dist
**/*.log
*.pem
